################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IoT Cybersecurity Application/v16/Server/sqlite3
